<header class="header-page">
    
        <div class="top-navBar">
            <div class="image-header-box">
                <a href="/"><img src="/images/leef-logo.png" alt="leef-logo.png"></a>
            </div>
            <div class="input-box-header">
            <form action="/" method="get">
                <input class="input-search-bar" type="text" name="keywords" placeholder="Buscar productos, categorias..">
            </form>
        </div>
        </div>
        <div class="description-header">
            <p>Donde las hojas de tu vida siempre volverán a crecer</p>
        </div>
        <nav class="header-nav">
        <div class="bottom-navBar">
            <ul class="left-list">
                <li class="list-item">
                    <img src="/images/assets/products.svg" alt="">
                    <a href="/products/productsList">Todos los productos</a>
                </li>
                <li class="list-item">
                    <img src="/images/assets/products.svg" alt="">
                    <a href="/products/productForm">Vender</a>
                </li>
                <li class="list-item">
                    <img src="/images/assets/products.svg" alt="">
                    <a href="/products/productsInOff">Ofertas</a>
                </li>
                <li class="list-item">
                    <img src="/images/assets/products.svg" alt="">
                    <a href="/products/help">Ayuda</a>
                </li>
            </ul>
        </div>
        <div class="bottom-navBar">
            <ul class="rigth-list">
                <li class="list-item">
                    <img src="/images/assets/products.svg" alt="">
                    <a href="/users/login">Ingresá</a>
                </li>
                <li class="list-item">
                    <img src="/images/assets/products.svg" alt="">
                    <a href="/users/register">Registrate</a>
                </li>
                <li class="list-item">
                    <img src="/images/assets/products.svg" alt="">
                    <a href="/users/logout">Salir</a>
                </li>
                <li class="list-item">
                    <img src="/images/assets/products.svg" alt="">
                    <a href="/users/productsCart">Mis Compras</a>
                </li>
            </ul>
        </div>
    </nav>
</header>